body {
  font-family: "Nunito";
  background-image: url("/images/banner.jpeg");
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MuiContainer-root .cta {
  position: relative;
  z-index: 1;
  margin: auto;
  margin-top: 50vh;
  display: block;
  text-align: center;
  width: 180px;
}

