body {
  font-family: 'Nunito';
  background-image: url("/images/banner.jpeg");
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
